<form>
  <div class="control-group">
    <label for="contact-title" class="control-label">Title:</label>
    <input id="contact-title" name="title" type="text" value="<%- title %>"/>
  </div>
  <div class="control-group">
    <label for="contact-year" class="control-label">Year:</label>
    <input id="contact-year" name="year" type="text" value="<%- year %>"/>
  </div>
  <div class="control-group">
    <label for="contact-rating" class="control-label">Rating:</label>
    <input id="contact-rating" name="rating" type="text" value="<%- rating %>"/>
  </div>
  <button class="btn js-submit">Save</button>
</form>